body {
  margin: 0;
  height: 100vh;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
canvas {
  display: block;
}

.label {
  position: absolute;
  top: 2em;
  left: 2em;
}
